body{
  margin: 0;
  background-color: rgba(220, 185, 97, 0.269);
}

.header{
  height: 10vh;
  background-color: rgba(137, 43, 226, 0.305);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
}

img{
  width: 25px;
  height: 25px;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.home-page input{
  width: 80%;
}

input{
  text-align: center;
}

.list-todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  width: 90vw; 
  margin-top: 20px;
}

.todo {
  border: 1px solid #ccc;
  padding: 15px;
  min-height: 220px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  box-sizing: border-box; 
}

.addTodo{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 70%;
  justify-self: center;
  margin-top: 20px;
}
